---

---

<main class="w-full max-w-2xl mx-auto px-4 py-12">
  <!-- Hero Section -->
  <section class="mb-8">
    <h1 class="text-4xl font-bold mb-8 text-gray-900 dark:text-white">
      Niraj Kumar
    </h1>
    <p class="text-[#555555] dark:text-[#bbbbbb] text-base mb-8">
      Hey!<img
        src="../hi.png"
        alt="Waving Hand"
        width="24"
        height="24"
        class="inline relative bottom-[4px] select-none"
      /> I'm Niraj Kumar, an indie maker and passionate frontend developer. <!-- developer by profession, an illustrator by passion, an animator with purpose, and a natural writer. -->
    </p>
  </section>

  <!-- Work Section -->
  <section class="mb-8 space-y-1">
    <div class="flex flex-wrap items-center gap-1">
      <span class="work-label shrink-0">Working at</span>
      <span class="work"
        ><img
          src="../bodhlabs-logo.png"
          alt="BodhLabs"
          class="icon"
        />BodhLabs</span
      >
      <span class="text-gray-400">/</span>
      <span class="work"
        ><img
          src="../animalia-logo.svg"
          alt="Animalia Studio"
          class="icon"
        />Animalia Studio</span
      >
    </div>

    <div class="flex flex-wrap items-center gap-1">
      <span class="work-label shrink-0">Creator of</span>
      <span class="work"
        ><img src="../vue.svg" alt="Vue" class="icon" />Webfolio</span
      >
      <span class="work"
        ><img src="../js.svg" alt="JavaScript" class="icon" />Bento Grids</span
      >
      <span class="work"
        ><img src="../swift.svg" alt="Swift" class="icon" />Neumorphism</span
      >
    </div>

    <div class="flex flex-wrap items-center gap-1">
      <span class="work-label shrink-0">Developer of</span>
      <span class="work"
        ><img src="../vue.svg" alt="Vue" class="icon" />Solo UI</span
      >
      <span class="work"
        ><img src="../js.svg" alt="JavaScript" class="icon" />CSS Maker</span
      >
      <span class="work"
        ><img src="../swift.svg" alt="Swift" class="icon" />JS Buddy</span
      >
    </div>

    <!-- <div class="flex flex-wrap items-center gap-1">
      <span class="work-label shrink-0">Writer of</span>
      <span class="work"
        ><img src="/" alt="Vue" class="icon" />Webfolio</span
      >
      <span class="work"
        ><img src="/" alt="JavaScript" class="icon" />Bento Grids</span
      >
      <span class="work"
        ><img src="/" alt="Swift" class="icon" />Neumorphism</span
      >
      <span class="work"
        ><img src="/" alt="Swift" class="icon" />Flow State</span
      >
    </div> -->

    <!-- <div class="flex flex-wrap items-center gap-1">
      <span class="work-label shrink-0">Illustrator of</span>
      <span class="work"
        ><img src="/" alt="Vue" class="icon" />Solo UI</span
      >
      <span class="work"
        ><img src="/" alt="JavaScript" class="icon" />CSS Maker</span
      >
      <span class="work"
        ><img src="/" alt="Swift" class="icon" />Coming Soon</span
      >
    </div> -->

    <!-- <div class="flex flex-wrap items-center gap-1">
      <span class="work-label shrink-0">Animator of</span>
      <span class="work"
        ><img src="/" alt="Vue" class="icon" />Solo UI</span
      >
      <span class="work"
        ><img src="/" alt="JavaScript" class="icon" />CSS Maker</span
      >
      <span class="work"
        ><img src="/" alt="Swift" class="icon" />Coming Soon</span
      >
    </div> -->
  </section>

  <!-- About Section -->
  <section
    class="mb-8 space-y-4 text-[#555555] dark:text-[#bbbbbb] leading-relaxed"
  >
    <p>
      Ever since I was a kid, I've wanted to be an inventor and solve real life
      problems while creating <a href="/" class="links">amazing stuff</a> on the
      side. I'm passionate about building products that help myself and others be
      more productive and live a simple and meaningful life. I've been writing code
      for more than a decade now, and it has never stopped feeling like magic.
    </p>

    <p>
      I build <a href="/" class="links">open source projects</a> and write
      <a href="/" class="links">blog posts</a> about coding, productivity, and life.
      Occasionally, I do live coding streams on
      <a href="/" class="links">YouTube</a>. I also create a webcomic called
      <a href="/" class="links"><em>Codebase</em></a>, capturing the quirks and
      humor of programming and developer life. From time to time, I make some
      svg art, interactivity experiments on
      <a href="/" class="links">100.nirajkumar.space</a>.
    </p>

    <p>
      Outside of programming, I enjoy football, illustrations, music,
      photography and travelling. I post
      <a href="/" class="links">photos on this page</a>. I also love reading
      novels and philosophy. Here is my <a href="/" class="links"
        >media consumption</a
      > list. Also, in case you are interested, here are the
      <a href="/" class="links">hardware/software I use</a>.
    </p>

    <p>
      I currently live in India and am working on building a sustainable income
      source through my work as an indie developer.
    </p>
    <p>
      <em
        >If you wish to know more about me, remember this: "Not every story is
        meant to be told, and mine is one of them".</em
      >
    </p>
  </section>

  <!-- Contact Section -->
  <section class="mb-8">
    <h2 class="text-lg font-semibold mb-4 text-[#555555] dark:text-[#bbbbbb]">
      Find me on
    </h2>

    <div class="flex flex-wrap gap-4 mb-6 text-[#555555] dark:text-[#bbbbbb]">
      <a href="/" class="social-links">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-github-icon lucide-github"
            ><path
              d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
            ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
          ></span
        >
        <span>GitHub</span>
      </a>

      <a href="/" class="social-links">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-youtube-icon lucide-youtube"
            ><path
              d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"
            ></path><path d="m10 15 5-3-5-3z"></path></svg
          ></span
        >
        <span>YouTube</span>
      </a>

      <a href="/" class="social-links">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-instagram-icon lucide-instagram"
            ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
              d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
              x1="17.5"
              x2="17.51"
              y1="6.5"
              y2="6.5"></line></svg
          ></span
        >
        <span>Instagram</span>
      </a>
    </div>

    <p class="text-[#555555] dark:text-[#bbbbbb] mb-4">
      Or mail me at <a href="mailto:hi@nirajkumar.space" class="glow-link"
        >hi@nirajkumar.space</a
      >
    </p>

    <p class="text-[#555555] dark:text-[#bbbbbb] text-sm">
      ( Me in Parallel Universes -
      <span class="inline-flex items-center space-x-1">
        <span>Niksen</span>
      </span>
      <span class="inline-flex items-center space-x-1 ml-2">
        <span>Nakar</span>
      </span>
      <span class="inline-flex items-center space-x-1 ml-2">
        <span>Nirmsu</span>
      </span>
      <span class="inline-flex items-center space-x-1 ml-2">
        <span>Nuyopa</span>
      </span>
      )
    </p>
  </section>
</main>
